#fraProfileContent {
    * {
        box-sizing: border-box;
    }

    br {
        /* display: none !important; */
    }
}


#pageContainer {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    br {
        display: none;
    }
    
    .alert {
        order: -3;
    }
}


#pageContainer>center {
    display: contents;
    flex-direction: column;
    width: 100%;
    

}

/* the page *does not* have the edit details panel */

#pageContainer:not(:has(#editdetailspanel)) {

    .alert-danger {
        display: none;
    }

    div.ads {
        display: none;
    }
}

/* the page *does* have the edit details panel */
/* this would usually just be "default", but it's here for the sake of argument/example */

#pageContainer:has(#editdetailspanel) {

    div.ads {
        display: block;
    }
}

/* typical css credit if the page has the bookmark button */

#pageContainer:has(ol.breadcrumb + div.floatright) {
    ol.breadcrumb+div.floatright {
        position: relative;

        &::before {
            content: "CSS by WildWizard #414436";
            position: absolute;
            left: -125px;
            top: 5px;
            width: fit-content;
            display: block;
        }
    }
}

/* css credit if the page does not have the bookmark button */

#pageContainer:not(:has(ol.breadcrumb + div.floatright)) {
    ol.breadcrumb {
        position: relative;

        &::before {
            content: "CSS by WildWizard #414436";
            /* recommended that this is replaced with a var() just to avoid retyping */
            position: absolute;
            right: 15px;
            top: 7px;
            width: fit-content;
            display: block;
        }
    }
}

#pageContainer>h1{
    order: -999;
    margin-bottom:1em;
}

ol.breadcrumb {
    order: -999;
}

.linky-line {
    margin: 1em 0;
    font-size: large;
}


.offsite-bookmarks {
    position: fixed;
    bottom: 5px;
    left: 5px;
    max-width: 300px;
    background: white;
    z-index: 999;

    ul {
        padding-inline: 20px;
    }

    li {
        margin-top: .5em;
        list-style: "✦";
        
        &::marker {
            font-size: medium;
        }
        &:not(a) {
            font-size: small;
        }

        a {
            display: block;
            font-size:large
        }
    }

    h4 {
        font-size: smaller;
    }
}

#about {
    margin-bottom: 0;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lore {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    padding: 1em;
    gap: 1em;

    p {
        width: 100%;
    }
    
    
    
    
    div {
        position: relative;
        width: 250px;
        
        
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            display: block;
            /* height: 50px; */
            width: 25%;
            aspect-ratio: 1;
            z-index: 5;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    div.inara::before {
        background-image: url(https://wildwizardcreation.github.io/lioden/assets/wardrobe/inara_portrait_render.png);
        right: 0;
    }

    div.nadira::before {
        background-image: url(https://wildwizardcreation.github.io/lioden/assets/wardrobe/nadira_portrait_render.png);
    }

    img {
        width: 100%;
        min-width: 0;
        display: block;
        z-index: 4;
    }
}


.boxes-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #96581e;
}

.base-box {
    width: 45%;

    h2 {
        margin: 0;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}

.info-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 300px;
    justify-content: center;

    .name-guide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .me-guide {
        justify-self: end;
        
        br {
            display: inline !important;
        }
    }


    div {
        display: block;
    }

    h2 {
        display: block;
        justify-self: flex-start;
    }

    
    

    hr {
        height: 1px;
        margin: 2px;
        padding: 2px;
    }
}




.goals {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    img {
        max-height: 100%;
        /* width: 100%; */
        max-width:100%;
        display: block;
        aspect-ratio: 32/25;
        object-fit: cover;
    }

    tr {
        /* max-width:100%; */
    }

    div:has(>i) {
        width: 100%;
    }

    div:has(>img) {
        width: 33.33%;
        max-width: 100%;

        a {
            display: block;
            margin: 5px 0;
        }
    }
}

form[method="post"]:has(>#about) {
    order: -2;
}

#commentBox {
    order: -2;
    /* margin-top: 1.5em; */
}

#makeComment {
    order: -2;
    margin-bottom: 1em;
}

#commentErrors {
    order: -2;
}

#pageContainer>center
/* specificity to prevent performance issues  */
div.row:has(>form[action="territory.php"]

    /* this is the div.row we're styling */
    div.feature > input[name="playall"]) {
    /* just making sure the playall input exists */
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    gap: 15px;
    justify-content: space-around;
    order: -3;
    /* reordering to the top of the page. only works if #pageContainer > center is 'display: flex'ed */
    /* usually order: -1, i have other things rearranged so its adjust for :3 me*/

    &::before,
    &::after {
        display: none !important;
        /* kill the default layout pseudos */
    }

    >form {
        width: 50%;
        /* the forms that hold the feature elements */
    }

    .col-sm-6.col-xs-12 {
        /* the bootstrap parent */
        display: contents;
        /* using the div.feature as the main element */
    }


    span.xsmall {
        /* the tip text. we don't need this! we know how to use these buttons! */
        display: none;
    }

}


/* combo breeder box testing */

/* h1, h2, h3, h4, h5, div, a, p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.page-doll.horizon {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  &::before {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    background-image: url(https://wildwizardcreation.github.io/lioden/assets/horizon_app.png);
    margin: 0 auto;
    z-index: 1;
  }
  
  &::after {
      content: " ";
      display: block;
      position: relative;
      background-image: url(https://wildwizardcreation.github.io/lioden/assets/buttons/horizonbutton.png);
      width: 150px;
      height: 50px;
      margin-top: -5px;
    }
}

span.select-span {
  user-select: all;
}


  h1, h2, h3, h4, h5, div, a, p {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

.horizon-box {
  background-image: url(https://wildwizardcreation.github.io/lioden/assets/backgrounds/horizon_bg.png);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  min-width: 200px;
    
}

.heh-box {
  background: url(https://wildwizardcreation.github.io/lioden/assets/backgrounds/heh_bg.png);
  background-size: cover;
  background-position: top center;
  min-height: 200px;
  min-width: 200px;

  /* &:after {
    content: " ";
    width: 85px;
    height: 85px;
    position: absolute;
    background-image: url(https://wildwizardcreation.github.io/lioden/assets/heh_app.png);
    background-size: contain;
    top: -25px;
    right: -25px;
  } */
}

a:has(.count) {
  font-size: 20px;
  font-weight: bold;
}

.count {
  margin-left: 6px;
  position: relative;
  vertical-align: baseline;
  top: -8px;
  display: inline-block;

  img {
    vertical-align: middle;
    image-rendering: pixelated;
    height: 30px;
  }

  &::before {
    content: "";
    border-bottom: 2px solid black;
    width: calc(100% + 10px);
    height: 100%;
    position: absolute;
    right: 0;
    bottom: -1px;
  }
}

.heh-box, .horizon-box {

  h1, h2 {
    user-select: all;
    
  }

  a {
    color: black;
    font-weight: bold;
      text-decoration: underline;
    &:hover {
    text-shadow: -1px -1px 0px white, 
                  1px 1px 0px white, 
                  -1px 1px 0px white, 
                  1px -1px 0px white;
}
  }
  
  
  
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1em;
  border-radius: 2px;
  /* width: 545px; */
  width: 435px;
  border: 1px solid black
}

.inner-box {
  background: white;
  display: flex;
  flex-direction: column;
}

.heh-box:before, .horizon-box:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background: white;
  border-radius: 2px;
  border: 1px solid black;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.factor-flex {

  min-width: 100%;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  

}

.base-info {
  text-align: center;

  h4 {
    font-size: 20px;
    
  }

  .links {
    width: 100%;
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 5px;
  }

  div[class^="links-"] {
    text-align: center;
    width: 205px;
    height: 75px;
    display:grid;
    place-items:center;
    border-radius: 10px;
    border: 3px solid white;
    align-content: center;
       span {
         display: flex;
         flex-wrap: wrap;
         text-align: center;
         flex-direction: row;
         justify-content: center;
   
         a {
           text-wrap: nowrap;
         }

          a:last-of-type::before {
               content:"|";
               margin: 0 .5rem;
               display: inline-block;
               cursor: default;
               text-shadow: none;
           }
      
       }
    
      }

    div.links-studs a:nth-of-type(1) {
       color: blue !important;
        width: 100%
   }
}

.factor-info {
  margin-left: 20px;
    text-align: left;
}

a:has(.count), .arrow-right {
  &:hover::after {
    content: " ";
    display: inline-block;
    position: absolute;
    background-image: url(https://wildwizardcreation.github.io/lioden/assets/pixels/arrow_right.gif);
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 2px;
    image-rendering: pixelated;
  }
}

.factor-box {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: white;
  margin: 5px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap:wrap;

    h2, h3 {
        color: currentcolor;
        font-weight: bold;
    }

      h2 {
        width: 100%;
        text-align: left;
        margin: 5px 10px;
      }
    
  >img {
    /* margin-right: 15px; */
  }

  p {
    margin: 5px 0;
  }

  a {
    color: currentColor;
    font-weight: bold !important;
    font-size: 20px;
      text-decoration: underline;
    /* margin: 10px; */
  }

  .image-half {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100px;

    a {
      display: inline-block;
      aspect-ratio: 1;
      width: 30px;
      height: auto;
      background-size: contain;
      background-repeat: no-repeat;
      order: 1;
    }

    a[href*="trading_center"] {
      background-image: url("https://static.lioden.com/images/layout/icon_den_trade.png");
    }
    
    a[href*="search_branches"] {
      background-image: url("https://static.lioden.com/images/layout/icontreecarvings.png")
    }
  }

  .icon-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .icon {
      width: 24px;
      height: auto;
      object-fit: contain;
      object-position: center;
      filter: ;
    }
  }
  
}

.angel {
    
}

.heaven {
    
}
