#fraProfileContent {
    * {
    box-sizing: border-box;
    }

    br {
        display: none !important;
    }
}


#pageContainer {
    br {
        display: none;
    }
}


.tags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lore {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 1em;
    gap: 1em;

    div.inara, div.nadira {
        /* display: contents; */
        position: relative;
    }

    img {
        width: 100%;
        min-width: 0;
    }
}


.boxes-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #96581e;
}

.base-box {
    width: 45%;

    h2 {
        margin: 0;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}

.info-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 300px;
    justify-content: center;
    
    .name-guide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    .me-guide {
        justify-self: end;
    }
    

    div {
        display: block;
    }
    
    h2 {
        display: block;
        justify-self: flex-start;
    }
}


.goals {
    display: flex;
    flex-direction: row;
    width: 95%;

    img {
        width: 33%;    }
}


/* if/else for if the feed all is visible */

#pageContainer:has(div.row>form[action="territory.php"] div.feature > input[name="playall"]){

    /* actual feed all row styling */
    /* div.row:has(>form[action="territory.php"] div.feature > input[name="playall"]) {
        position: absolute;
        top: 70px;
        display: flex;
        flex-direction: row;
        width: 100%;

        >form {
            width: 50%;
        }

        .col-sm-6.col-xs-12 {
            width: 100%;
        }

        span.xsmall {
            display: none;
        }
    } */

    /* pageContainer adjustments so it fits properly */
    /* >h1::before {
        content: " ";
        display: block;
        height: 80px;
    } */
}

div.row:has(>form[action="territory.php"] div.feature > input[name="playall"]) {
    /* position: absolute; */
    /* top: 70px; */
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    margin: 15px 0;
    

    >form {
        width: 50%;
    }

    .col-sm-6.col-xs-12 {
        width: 100%;
    }

    span.xsmall {
        display: none;
    }
}

#pageContainer > center {
    display: flex;
    flex-direction: column;

    .alert {
        order: -1;
    }

    div.row:has(>form[action="territory.php"] div.feature > input[name="playall"]) {
        order: -2;
    }
}

#pageContainer > center {
    display: contents;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    

    ol.breadcrumb {
        order: -99;
    }
    
    >div.floatright {
        order: -99;
        width: auto !important;
    }
}
