
.hidden, [hidden] {
    display: none;
}

p.center.b {
    margin: 5px 0;
}


/* ------- The Cavern's Maw // For Sale ------- */
/* cid=352756 */


body:has(#pride a[href$="cid=352756"]) {
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/023/492/419/4k/brian-bellamy-redo.jpg");
    background-position: top center;
    background-size: cover;
}

#pageContainer:has(tbody>tr>th>a[href$="cid=352756"])
.lionImage.featured-lion {
    position: relative;
    
    &::before {
        content: " ";
        background-image: url("https://cdna.artstation.com/p/assets/images/images/054/395/108/large/roan-larsen-forestgrottoartstation.jpg");
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        background-size: cover;
    }

}



/* ------- Mossy Nook // Prides and Joys ------- */
/* cid=340759 */

#pageContainer:has(tbody>tr>th>a[href$="cid=340759"]) {
    .lionImage.featured-lion {
        img[src$="cave/default.png"] {
            content: url("https://cdnb.artstation.com/p/assets/images/images/002/637/633/large/jared-sobotta-cave-screenshot-09.jpg");
            height: 110% !important;
            max-width: unset !important;
            width: auto;
            left: -15%;
            
        }
    }

    
}