
:root {
    --smilus-tag: url(https://www.lioden.com/images/tags/0/0/57.png);
}

#pageContainer {
  /* background-color: #000; */
}

.lineage-holder {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  gap: 1em;
}

.lion-flip-box {
  display: flex;
  width: 150px;
  height: 100px;
  /* background-color: #000; */
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  perspective: 1000px;

  .flip-box-inner > .flip-box-front {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
    width: 80px;
    height: 80px;
  }

  .flip-box-inner > .flip-box-back {
    background-color: #00ca4e;
    transform: rotateY(180deg);
  }

  &.hiatum {
    .flip-box-inner > .flip-box-front {
      background-image: url(https://wildwizardcreation.github.io/lioden/assets/icons/lion.png);
      /* background-color: black; */
    }
  }

  &.odillio {
    .flip-box-inner > .flip-box-front {
    background-image: url(https://wildwizardcreation.github.io/lioden/assets/icons/lightning-storm.png);
      background-color: black;
    }
  }

  &.cara {
    .flip-box-inner > .flip-box-front {
    background-image: url(https://wildwizardcreation.github.io/lioden/assets/icons/dead-wood.png);
      background-color: black;
    }
  }

  &.aba {
    .flip-box-inner > .flip-box-front {
    background-image: url(https://wildwizardcreation.github.io/lioden/assets/icons/peace-dove.png);
      background-color: black;
    }
  }

  &.cass {
    .flip-box-inner > .flip-box-front {
    background-image: url(https://wildwizardcreation.github.io/lioden/assets/icons/ghost-ally.png);
      background-color: black;
    }
  }
}

.flip-box-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  border-image-slice:
  30 fill;
  border-image-width:
  20px 20px 20px 20px;
  border-image-outset:
  0px 0px 0px 0px;
  border-image-repeat:
  repeat;

  border-image-source: url(/assets/borders/stamp.png);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.lion-flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.lion-flip-box.hiatum {
 
}

.lion-flip-box. {
}

.lion-flip-box. {
}

.lion-flip-box. {
}

.lion-flip-box.cass {
}


.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  gap: 5px;
}

/* pure css hover by kennyotsu on uiverse.io */
/* edits by wizard #414436 */

.container-card {
  position: relative;
  width: 155px;
  height: 155px;
  transition: 200ms;
  cursor: default;
}

.container-card:active {
  width: 150px;
  height: 150px;
}

.card {
  position: absolute;
  inset: 0;
  z-index: 0;
  transition: 700ms;
  overflow: hidden;
  background-color: #000;
    
  width: 100%;
  height: 100%;
}

/* spin glow original by ElSombrero2 on uiverse */

.spin {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card > img {
  z-index: 2;
  min-width: 150px;
  min-height: 150px;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 /1 ;
}

.card.spin > img {
  width: 150px;
  height: 150px;
}

.card.spin::after {
  position: absolute;
  content: ' ';
  display: block;
  z-index: 1;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #E8A137, #E8A137, #E8A137, #E8A137, transparent);
  animation: rotation_481 5000ms infinite linear;
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

/* tag shine original by mrhyddenn on uiverse */

.card-load {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  /* background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
  40%, #e5e5e5 48%); */
  background: linear-gradient(120deg, transparent 30%, #f0f0f026 38%, #f0f0f01c 40%, transparent 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}

@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  /* cursor: pointer; */
}

.tracker:hover ~ .card .prompt {
  opacity: 0;
}

.tracker:hover ~ .card {
  transition: 300ms;
  filter: brightness(1.1);
}

/* .container-card:hover .card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
} */

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}
  
.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ .card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* original by 0xNihilist on uiverse.io */
/* edits by wizard #414436 */


#makeComment {
  position: relative;
  background: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 4px solid #000;
  max-width: 650px;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-10deg);
  perspective: 1000px;
  box-shadow: 10px 10px 0 #000;
}

#makeComment:hover {
  transform: rotateX(5deg) rotateY(1 deg) scale(1.05);
  box-shadow: 25px 25px 0 -5px #e9b50b, 25px 25px 0 0 #000;
}


#makeComment::before {
  content: "LEAVE A COMMENT :D";
  position: absolute;
  top: -15px;
  left: 35px;
  background: #e9b50b;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
  transform: translateZ(50px);
  z-index: 4;
  border: 2px solid #000;
}

#comment {
  width: 100%;
  outline: none;
  border: 3px solid #000;
  padding: 15px;
  font-size: 18px;
  background: #fff;
  color: #000;
  transform: translateZ(10px);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
  z-index: 3;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: -0.5px;
}

#comment::placeholder {
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
}

#comment:hover,
#commment:focus {
  background: #f0f0f0;
  transform: translateZ(20px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}

#postComment {
  cursor: pointer;
  border: 3px solid #000;
    color: black;
  background: #e9b50b;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transform: translateZ(20px);
  position: relative;
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
}

#postComment:hover {
  background: #e9b50b;
  transform: translateZ(10px) translateX(-5px) translateY(-5px);
  box-shadow: 5px 5px 0 0 #000;
}


#fraOrganizationBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

#fraCaveList {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    /* flex-basis: 21%; */
    /* width: 100%; */
}

#fraOrganizationBlock  a {
    box-sizing: border-box;
    display: block;
}

/* Fcodingx */
/* edits by wizard  */

.col-md-4.col-xs-6.center {
    width: 190px;
    height: 120px;
    flex: 1 0 30%;
    /* align-self: center; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
}

.col-md-4.col-xs-6.center:hover {
  margin-bottom: 100px;
  z-index: 100;
}

.col-md-4.col-xs-6.center>a {
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: all .4s;
  overflow: hidden;
  color: white;
}


.col-md-4.col-xs-6.center>a:hover {
  height: 200px;
  transform: skew(0deg) scale(1.3) translateY(40px);
  box-shadow: -10px 18px 20px -5px rgba(0, 0, 0, 0.280);
  z-index: 100;
}

.xcard {
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: white;
}

.xcard:hover {
  height: 254px;
  transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}


/* energy boost button test */

.sidebar {
  background-color: #000;
}

form:has(input[name="freeEnergyBoost"]) {
  .panel {
    border: none !important;
    margin: 0px;
  }

  input {
    background: none;
    text-shadow: none;
    border: none;
    font-size: 0px;
    padding: 0;
    margin: 0;
  }
}

form:has(input[name="freeEnergyBoost"]) {
  --stone-50: #fafaf9;
  --stone-800: #292524;
  --yellow-400: #facc15;

  font-family: "Rubik", sans-serif;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1;
  font-size: 1rem;
  border-radius: 1rem;
  outline: 2px solid transparent;
  outline-offset: 6px;
  color: var(--stone-50);
  margin: 2.5em auto;
  width: fit-content;

  &:active {
    outline-color: var(--yellow-400);
  }

  &:focus-visible {
    outline-color: var(--yellow-400);
    outline-style: dashed;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    height: 200%;
    max-height: 100px;
    aspect-ratio: 1;
    margin: auto;
    background: white;
    clip-path: polygon(
      100% 50%,
      91.48% 56.57%,
      97.55% 65.45%,
      87.42% 69.07%,
      90.45% 79.39%,
      79.7% 79.7%,
      79.39% 90.45%,
      69.07% 87.42%,
      65.45% 97.55%,
      56.57% 91.48%,
      50% 100%,
      43.43% 91.48%,
      34.55% 97.55%,
      30.93% 87.42%,
      20.61% 90.45%,
      20.3% 79.7%,
      9.55% 79.39%,
      12.58% 69.07%,
      2.45% 65.45%,
      8.52% 56.57%,
      0% 50%,
      8.52% 43.43%,
      2.45% 34.55%,
      12.58% 30.93%,
      9.55% 20.61%,
      20.3% 20.3%,
      20.61% 9.55%,
      30.93% 12.58%,
      34.55% 2.45%,
      43.43% 8.52%,
      50% 0%,
      56.57% 8.52%,
      65.45% 2.45%,
      69.07% 12.58%,
      79.39% 9.55%,
      79.7% 20.3%,
      90.45% 20.61%,
      87.42% 30.93%,
      97.55% 34.55%,
      91.48% 43.43%
    );

    animation: star-rotate 4s linear infinite;
    opacity: 0.1;
  }

  &:hover::before {
    opacity: 1;
  }

  & > div {
    padding: 2px;
    border-radius: 1rem;
    background-color: var(--yellow-400);
    transform: translate(-4px, -4px);
    transition: all 150ms ease;
    box-shadow:
      0.5px 0.5px 0 0 var(--yellow-400),
      1px 1px 0 0 var(--yellow-400),
      1.5px 1.5px 0 0 var(--yellow-400),
      2px 2px 0 0 var(--yellow-400),
      2.5px 2.5px 0 0 var(--yellow-400),
      3px 3px 0 0 var(--yellow-400),
      0 0 0 2px var(--stone-800),
      0.5px 0.5px 0 2px var(--stone-800),
      1px 1px 0 2px var(--stone-800),
      1.5px 1.5px 0 2px var(--stone-800),
      2px 2px 0 2px var(--stone-800),
      2.5px 2.5px 0 2px var(--stone-800),
      3px 3px 0 2px var(--stone-800),
      3.5px 3.5px 0 2px var(--stone-800),
      4px 4px 0 2px var(--stone-800),
      0 0 0 4px var(--stone-50),
      0.5px 0.5px 0 4px var(--stone-50),
      1px 1px 0 4px var(--stone-50),
      1.5px 1.5px 0 4px var(--stone-50),
      2px 2px 0 4px var(--stone-50),
      2.5px 2.5px 0 4px var(--stone-50),
      3px 3px 0 4px var(--stone-50),
      3.5px 3.5px 0 4px var(--stone-50),
      4px 4px 0 4px var(--stone-50) !important; 

    form:has(input[name="freeEnergyBoost"]):hover & {
      transform: translate(0, 0);
      box-shadow:
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 0 var(--yellow-400),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 2px var(--stone-800),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50),
        0 0 0 4px var(--stone-50) !important;
    }

    & > div {
      position: relative;
      pointer-events: none;
      border-radius: calc(1rem - 2px);
      background-color: var(--stone-800);

      &::before {
        content: "";
        display: block;
        position: absolute;
        inset: 0;
        border-radius: 1rem;
        opacity: 0.1;
        background-image: radial-gradient(
            rgb(255 255 255 / 80%) 20%,
            transparent 20%
          ),
          radial-gradient(rgb(255 255 255 / 100%) 20%, transparent 20%);
        background-position:
          0 0,
          4px 4px;
        background-size: 8px 8px;
        mix-blend-mode: hard-light;
        box-shadow: inset 0 0 0 1px var(--stone-800);
        animation: dots 0.4s infinite linear;
        transition: opacity 150ms ease;
      }

      &::after {
        content: "Free Energy Boost!";
      }

      & > input {
        position: relative;
        display: flex;
        align-items: center;
        filter: drop-shadow(0 -1px 0 var(--stone-800));

        &:hover {
          filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.1));
        }

        &:active {
          transform: translateY(2px);
        }
      }
    }
  }
}

@keyframes star-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dots {
  0% {
    background-position:
      0 0,
      4px 4px;
  }
  100% {
    background-position:
      8px 0,
      12px 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    &:active,
    &:focus-visible {
      outline-color: var(--yellow-400);
    }
  }
}

/* PROGRESS BARS */

.progress {
  --roundness: 0.5rem;
  --stone-50: #fafaf9;
  --stone-800: #292524;
  --yellow-400: #facc15;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-100: rgba(255, 255, 255, 1);

  width: 100%;
  max-width: 300px;
  position: relative;
  background-color: var(--stone-800);
  border: 2px solid var(--stone-800);
  border-radius: var(--roundness);
  outline: 2px solid var(--stone-50);
  outline-offset: 2px;
  height: 2em;
}

.progress div:nth-child(2) {
  filter:drop-shadow(0 1px 0 rgb(255, 255, 255))
        drop-shadow(0 -1px 0 rgb(255, 255, 255))
        drop-shadow(1px 0 0 rgb(255, 255, 255))
        drop-shadow(-1px 0 0 rgb(255, 255, 255));
}

.progress div{
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  border: 2px solid var(--white-30);
  border-radius: calc(var(--roundness) - 2px);
  position: relative;
  overflow: hidden;
  transition: all 1000ms cubic-bezier(0.5, 0, 0.4, 1);
}

.progress-bar::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
  background-image: radial-gradient(var(--white-80) 20%, transparent 20%),
    radial-gradient(var(--white-100) 20%, transparent 20%);
  background-position:
    0 0,
    4px 4px;
  background-size: 8px 8px;
  mix-blend-mode: hard-light;
  animation: dots 0.5s infinite linear;
}
