.container * {
    box-sizing: border-box;
    border-radius: 0 !important;
    
    padding: 0;
    margin: 0;
    
    color: #000;
    
    font-family: "Times New Roman", Times, serif !important;
    
    
    .table, thead, tr, th, tbody, td {
        background-color: #fff !important;
        border: 1px #000 solid,
    }
    
    line-height: normal !important;
}

.container {
    background-color: #fff !important;
    border: 1px #000 solid;
    width: 100% !important;
}

.container.main {
    
}

.col-md-3 .panel {
    border: 1px solid #000;
    box-shadow: none;
}

.navbar {
    background-color: #fff;
}

.navbar-header {

}

a.navbar-brand.visible-lg.visible-md {
    display: inline !important;   
    vertical-align: middle;

}

.navbar-brand img {
    display: inline !important;
    height: 100px;
}

.breadcrumb {
    position: relative;
    
}


.floatright:has(input[name="bookmark"]) {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 !important;
    float: none;
}

#pageContainer {
    position: relative;    
    margin-top: 40px;

}

.navbar-default .navbar-nav li a:hover {
    background: transparent;
}

.container * a {
    color: rgb(0, 0, 238) !important;
        text-decoration: underline;
}

.container a:hover {
    
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: underline;
}

.container * a:active, .container * a:focus {
   color: rgb(255, 0, 0) !important;
}

.container * a:visited {
   color: rgb(85, 26, 139) !important;
}

body {
    background: #fff;
}

a {
    font-family: "Times New Roman", Times, serif !important;
}

input[type="submit"] {
    background: #f0f0f0;
    color: #000;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
}


ul.nav {
}

.progress {
    height: fit-content;    
    margin: 6px;
}

.progress-bar {
    height: 18px;
}

.progress div {
    position: relative;
}

.progress div:nth-child(2) {
    position: absolute;
    vertical-align: middle;
    margin: 3px;
    width: fit-content;
}

#fraOrganizationBlock .col-md-4.col-xs-6.center {
    a .cave-grid{
    color: rgb(0, 0, 238) !important;
        text-decoration: underline;
    }

    
    a:active .cave-grid, a:focus .cave-grid {
       color: rgb(255, 0, 0) !important;
    }

    a:visited .cave-grid {
       color: rgb(85, 26, 139) !important;
    }
    
}
